<div class="header">
    <ul>
        <li><a href="{{ path("homepage") }}">Home</a></li>
        <li><a href="{{ path("register_user") }}">Register</a></li>
        <li><a href="{{ path("security_login") }}">Login</a></li>
    </ul>
</div>
<hr/>