{% extends 'base.html.twig' %}

{% block body %}
    Change your password;

    {{ form_start(passwordChangeForm) }}

    {{ form_widget(passwordChangeForm.password) }} <br>

    <button type="submit" class="btn-info" value="Submit">Submit</button>
    {{ form_end(passwordChangeForm) }}
{% endblock %}

